@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Red+Hat+Text:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Aleo:300,300italic,regular,italic,700,700italic&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

html {
  /* по умолчанию */
  font-size: 16px;
}

body {
  background-color: #FFFFFF;
  line-height: 1;
}

.wrapper {
  width: 1440px;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

/* ------------------------------ */
[class*="__container"] {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  z-index: 1;
  background: rgba(242, 120, 92, 0.7);
  -webkit-box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
          box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

@media (max-width: 390px) {
  .header {
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.header__body {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin: 0px 0px 10px 0px;
}

.header__button {
  background: #0D606F;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  color: #FFFFFF;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 30px;
  margin-left: 40px;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
  cursor: pointer;
}

.header__button:hover {
  background: #108fa5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 18px;
          column-gap: 18px;
}

.menu__item {
  padding: 6px 12px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__item:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.menu__link {
  color: #FFFFFF;
}

.preview {
  position: relative;
  margin-top: -90px;
  background: url("../img/garrett.jpg") center/cover no-repeat;
}

@media (max-width: 390px) {
  .preview {
    background: -webkit-gradient(linear, left top, left bottom, from(#0D606F), color-stop(25.1%, rgba(13, 96, 111, 0))), url("../img/bg390.jpg") no-repeat;
    background: -o-linear-gradient(top, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%), url("../img/bg390.jpg") no-repeat;
    background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%), url("../img/bg390.jpg") no-repeat;
  }
}

.preview__body {
  padding: 122px 0px 255px 0px;
  max-width: 892px;
}

@media (max-width: 390px) {
  .preview__body {
    padding: 142px 0px 61px 0px;
  }
}

.preview__title {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
  margin: 0px 0px 33px 0px;
}

@media (max-width: 390px) {
  .preview__title {
    display: none;
  }
}

.preview__text {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin: 0px 0px 46px 0px;
  color: #FFFFFF;
}

@media (max-width: 390px) {
  .preview__text {
    display: none;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}

@media (max-width: 390px) {
  .form {
    max-width: 360px;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
  }
}

.form__input {
  padding: 15px 23px;
  outline: 0;
  background: transparent;
  font-style: italic;
  width: 100%;
}

.form__input::-webkit-input-placeholder {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  border: none;
}

.form__input:-ms-input-placeholder {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  border: none;
}

.form__input::-ms-input-placeholder {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  border: none;
}

.form__input::placeholder {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
  border: none;
}

@media (max-width: 390px) {
  .form__input::-webkit-input-placeholder {
    line-height: 17px;
    font-size: 14px;
  }
  .form__input:-ms-input-placeholder {
    line-height: 17px;
    font-size: 14px;
  }
  .form__input::-ms-input-placeholder {
    line-height: 17px;
    font-size: 14px;
  }
  .form__input::placeholder {
    line-height: 17px;
    font-size: 14px;
  }
}

@media (max-width: 390px) {
  .form__input {
    padding: 16.17px 0px 16px 8px;
    max-width: 226px;
  }
}

.form__button {
  background: #0D606F;
  -webkit-box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
          box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  padding: 13px 33px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
}

.form__button:hover {
  background: #108fa5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 390px) {
  .form__button {
    padding: 7.5px 10px 7.5px 10px;
    font-size: 11px;
    line-height: 15px;
    margin: 0px 0px 0px 7px;
  }
}

.steps__body {
  padding: 80px 0px 97px 0px;
}

@media (max-width: 390px) {
  .steps__body {
    padding: 20px 0px 20px 0px;
  }
}

.steps__title {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  margin: 0px 0px 40px 0px;
  color: #F2785C;
}

@media (max-width: 390px) {
  .steps__title {
    font-size: 14px;
    line-height: 19px;
    margin: 0px 0px 20px 0px;
  }
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 390px) {
  .step {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 40px;
  }
}

.step__item_want {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 11px 0px 10px;
}

@media (max-width: 390px) {
  .step__item_want {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0px 0px 0px 0px;
    max-width: 75px;
  }
}

.step__item_dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 0px 73px;
}

@media (max-width: 390px) {
  .step__item_dates {
    margin: 0px 0px 0px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 0px 0px 0px;
    max-width: 111px;
  }
}

.step__item_give {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 11px 0px 10px;
}

@media (max-width: 390px) {
  .step__item_give {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0px 0px 0px 0px;
    max-width: 90px;
  }
}

.step__text_end {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

@media (max-width: 390px) {
  .step__text_end {
    font-size: 10px;
    line-height: 12px;
    text-align: end;
  }
}

.step__icon {
  margin: 0px 0px 30px 0px;
}

@media (max-width: 390px) {
  .step__icon {
    max-width: 70px;
    margin: 0px 0px 19px 0px;
  }
}

.step__text {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

@media (max-width: 390px) {
  .step__text {
    font-size: 10px;
    line-height: 12px;
  }
}

.destinations {
  width: 1440px;
  overflow: hidden;
  margin: 0 auto;
}

.destinations__body {
  margin: 0px 0px 80px 0px;
}

.destinations__title {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  margin: 0px 0px 46px 0px;
  color: #F2785C;
}

@media (max-width: 390px) {
  .destinations__title {
    font-size: 14px;
    line-height: 19px;
  }
}

.destinations__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  white-space: nowrap;
  cursor: pointer;
}

.destinations__button button {
  background: #0D606F;
  -webkit-box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
          box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  padding: 13.5px 34px 13.5px 80px;
  color: #FFFFFF;
  border-radius: 10px;
  position: relative;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
  cursor: pointer;
}

.destinations__button button:hover {
  background: #108fa5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.destinations__button button::before {
  content: '';
  position: absolute;
  left: 31px;
  top: 10px;
  width: 40px;
  height: 40px;
  background: url("../img/find.png");
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
          column-gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 25px 0px;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 40px 0px;
}

.swiper-pagination span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #F2785C;
  position: relative;
}

.swiper-pagination span::before {
  content: '';
  position: absolute;
  right: 30px;
  bottom: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(242, 120, 92, 0.5);
}

.swiper-pagination span::after {
  content: '';
  position: absolute;
  left: 30px;
  bottom: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(242, 120, 92, 0.5);
}

.stories__bg {
  background-image: url("../img/bg-footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1331px;
}

.stories__body {
  background-color: rgba(255, 255, 255, 0.7);
}

.stories__title {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  color: #F2785C;
  margin: 0px 0px 40px 0px;
}

@media (max-width: 390px) {
  .stories__title {
    font-size: 14px;
    line-height: 19px;
  }
}

.stories__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  padding: 0px 0px 41px 0px;
}

.stories__button button {
  background: #0D606F;
  -webkit-box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
          box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  padding: 13.5px 39px 13.5px 82px;
  color: #FFFFFF;
  border-radius: 10px;
  position: relative;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
  cursor: pointer;
}

.stories__button button:hover {
  background: #108fa5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.stories__button button::before {
  content: '';
  position: absolute;
  left: 34px;
  top: 9px;
  width: 40px;
  height: 40px;
  background: url("../img/find.png");
}

.stories-items {
  padding: 40px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

.item-stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-stories__icon {
  border-radius: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
  max-height: 250px;
  -webkit-filter: drop-shadow(0px 4px 4px #0D606F);
          filter: drop-shadow(0px 4px 4px #0D606F);
}

.item-stories__body {
  padding: 0px 0px 0px 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 800px;
          flex: 0 1 800px;
}

.item-stories__title {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  margin: 0px 0px 24px 0px;
  color: #0D606F;
}

.item-stories__text {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

.item-stories__text a {
  text-decoration: underline;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

/* Условные ПК, ноуты и телевизоры */
/* 1050 из макета (контейнер + отступы) */
/* Условные планшеты */
/* Условные мобилки */
/* №1 */
@media (max-width: 1050px) {
  [class*="__container"] {
    /* max-width: 970px; */
  }
}

/* №2 */
@media (max-width: 991.98px) {
  [class*="__container"] {
    /* max-width: 750px; */
  }
}

/* №3 */
@media (max-width: 767.98px) {
  [class*="__container"] {
    /* max-width: none; */
  }
}
